/*** Tortoiseshell Optics ***/
html{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.container{
  width: 960px;
  margin: 0 auto;
}
header img, footer img{
  height: 1.25rem;
  margin-right: 1rem;
}
.banner{
  height: 31rem;
  background-image: url('./../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-content{
  position: static;
  top: 1rem;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  background-color: cadetblue;
  color: white;
  text-transform: capitalize;
}
.header span{
  padding: 1rem 2rem;
  font-size: 1rem;
}
.header a{
  text-decoration: none;
  color: white;
}
.header header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slogan{
  padding: 1.5rem 5rem;
  float: right;
  position: relative;
  top: 10rem;
  right: -2rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon{
  height: 8rem;
  margin: 3rem 6rem;
}
figure figcaption{
  text-transform: capitalize;
}
.articles{
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article{
  width: 35%;
  margin-right: 5%;
}
article h2{
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: azure;
}
footer span{
  padding: 4rem 0rem 4rem 4rem;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .container{
    width: 100%;
    margin: 0 auto;
    padding: auto auto;
  }
  .banner{
    height: 22rem;
  }
  .slogan{
    float: right;
    padding: 0.75rem 4rem;
    position: relative;
    top: 5rem;
    background-color: white;
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 480px){
  .container{
    width: 100%;
    margin: 0 auto;
    padding: auto auto;
  }
  .icons{
    width: 100%;
    margin-top: 3.77rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner{
    height: 17rem;
  }
  .slogan{
    width: 100%;
    padding: 1rem auto;
    position: relative;
    top: 9rem;
    background-color: white;
    font-size: 1rem;
    text-align: center;
  }
}
