/*** Tortoiseshell Optics ***/
html,body{
  font-size: 18px;
}
.top-wrap, .main-section, .footer-section{
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}
.container{
  width: 960px;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

.banner{
  height: 31rem;
  background-image: url('./../images/glasses-bg.png');
  background-size: cover;
  margin-bottom: 3rem;
}
.top-wrap{
  position: relative;
  top: 1rem;
}
.top-section{
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}
.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header-item img{
  height: 1.5rem;
  padding-right: 1rem;
}
.navigation-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.nav-item{
  padding-left: 2rem;
  text-transform: capitalize;
}
.top-section span{
  font-size: 1rem;
  color: white;
}

.slogan{
  float: right;
  position: relative;
  top: 10rem;
  right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.icons-section{
  margin-bottom: 3rem;
}
.icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon-item{
  width: 5rem;
  height: 8rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.img-wrap img{
  width: 3.5rem;
}
.caption-wrap p{
  width: 3.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
}
.articles-section{
  margin-bottom: 5rem;
}
.articles-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.article-item{
  width: 35%;
  margin: 0 5%;
}
.heading-wrap{
  margin-bottom: 1rem;
}
.heading-wrap h3{
  width: 10rem;
  background-color: cadetblue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding:0.5rem 1.25rem;
}
.text-wrap p{
  font-size: 1rem;
}
.footer-section{
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}
.footer-item img{
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
    height: auto;
    padding: 0 0;
    margin: 0 auto;
  }
  .banner{
    height: 22rem;
    background-image: url('./../images/glasses-bg.png');
    background-size: cover;
    margin-bottom: 3rem;
  }
  .top-wrap{
    position: static;
    top: 01rem;
  }
  .slogan{
    float: right;
    position: relative;
    top: 5rem;
    right: -2rem;
    padding: 1.5rem 5rem;
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
  }
}
